@model Josefina.Models.TicketsViewModel.TicketOrderViewModel
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>@Model.Localization.FinalizedHdr</h1>
        </div>

        <h2>@Model.Localization.OrderedTicketsHdr</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: center;">@Model.Localization.CategoryHdr</th>
                        <th style="text-align: center;">@Model.Localization.OrderedTicketsHdr</th>
                        <th style="text-align: center;">@Model.Localization.TicketTotalPriceHdr</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.CategoryOrders.Count(); i++)
                    {
                        <tr>
                            <td style="text-align: center;">@Model.CategoryOrders[i].Header</td>
                            <td style="text-align: center;">@Model.CategoryOrders[i].Ordered</td>
                            <td style="text-align: center;">@Model.CategoryOrders[i].TotalPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>@Model.Localization.PaymentInformation</h3>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="container">
            <div class="panel-default">
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <h4>@Model.Localization.AccountNumberHdr</h4>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.AccountNumber</text>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <h4>@Model.Localization.VSHeader</h4>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.VariableSymbol</text>
                    </div>
                </div>
                @if (Model.ProjectID == 3)
                {   //Junktown Shit
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-2">
                            <text style="font-size:16px;">@Model.Localization.KSHeader</text>
                        </div>
                        <div class="col-md-10">
                            <text style="font-size:18px;">4714</text>
                        </div>
                    </div>
                }
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <h4>@Model.Localization.TicketTotalPriceHdr</h4>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.TotalPrice</text>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <h4>@Model.Localization.DueDateHdr</h4>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.ReservedUntil</text>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>@Model.Localization.InternationPaymentHdr</h3>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="container">
            <div class="panel-default">
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <h4>IBAN</h4>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.IBAN</text>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <h4>SWIFT/BIC</h4>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.SWIFT</text>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <h4>@Model.Localization.MessageForRecipient</h4>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.MessageForPayee</text>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @if (!string.IsNullOrEmpty(Model.Note))
    {
        <div class="row">
            <h3>@Model.Localization.OrgNoteHdr</h3>
            <text style="font-size:18px;">@Model.Note</text>
        </div>
    }

</div>
