@model Josefina.Models.TicketsViewModel.TicketOrderViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Culture = UICulture = "cs";
}
<div class="container">
    <div class="row">
        <div class="page-header">
            @if (Model.ProjectID == 3)
            {   //Junktown Shit
                <h1>Rezervace dokončena</h1>
            }
            else
            {   //Normalni, slusni lidi
                <h1>Objednávka dokončena</h1>
            }
        </div>

        @if (Model.ProjectID == 3)
        {   //Junktown Shit
            <h3>Rezervovaná místa na spolkovém festivalu Junktown 2017</h3>
        }
        else
        {   //Normalni, slusni lidi
            <h3>Objednané vstupenky</h3>
        }

    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        @if (Model.ProjectID == 3)
                        {   //Junktown Shit
                            <th style="text-align: center;">Kategorie</th>
                            <th style="text-align: center;">Rezervovaných míst</th>
                            <th style="text-align: center;">Celková výše stanoveného členského příspěvku</th>
                        }
                        else
                        {   //Normalni, slusni lidi
                            <th style="text-align: center;">Kategorie</th>
                            <th style="text-align: center;">Objednaných vstupenek</th>
                            <th style="text-align: center;">Celková cena</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.CategoryOrders.Count(); i++)
                    {
                        <tr>
                            <td style="text-align: center;">@Model.CategoryOrders[i].Header</td>
                            <td style="text-align: center;">@Model.CategoryOrders[i].Ordered</td>
                            <td style="text-align: center;">@Model.CategoryOrders[i].TotalPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Platební informace</h3>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="container">
            <div class="panel-default">
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <text style="font-size:16px;">Číslo účtu:</text>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.AccountNumber</text>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <text style="font-size:16px;">Variabilní symbol:</text>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.VariableSymbol</text>
                    </div>
                </div>
                @if (Model.ProjectID == 3)
                {   //Junktown Shit
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-2">
                            <text style="font-size:16px;">Konstantní symbol:</text>
                        </div>
                        <div class="col-md-10">
                            <text style="font-size:18px;">4714</text>
                        </div>
                    </div>
                }
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        @if (Model.ProjectID == 3)
                        {   //Junktown Shit
                            <label style="font-size:16px;">Celková výše stanoveného členského příspěvku:</label>
                        }
                        else
                        {   //Normalni, slusni lidi
                            <label style="font-size:16px;">Celková částka:</label>
                        }
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.TotalPrice</text>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <text style="font-size:16px;">Datum splatnost:</text>
                    </div>
                    <div class="col-md-10">
                        <text style="font-size:18px;">@Model.ReservedUntil</text>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Note))
    {
        <div class="row">
            <h3>Poznámka pořadatele</h3>
            <text style="font-size:18px;">@Model.Note</text>
        </div>
    }

    <div class="row">
        <h3>Kontaktní údáje</h3>
        @if (Model.ProjectID == 3)
        {  //Junktown Shit
            <label font-size:16px;>Na email: <span style="font-size:20px; text-decoration:underline">@Model.Email</span> Vám byla odeslána kopie vytvořené rezervace.</label>
        }
        else
        {   //Normalni, slusni lidi
            <label font-size:16px;>Na email: <span style="font-size:20px; text-decoration:underline">@Model.Email</span> Vám byla odeslána kopie vytvořené objednávky.</label>
        }
    </div>
    <div class="row">
        <div class="page-header"></div>
        @if (Model.ProjectID == 3)
        {   //Junktown Shit
            <p>Po připsání celkové částky / příspěvku na účet pořadatele / spolku Vám bude obratem na tento Email odesláno potvrzení o úspěšné úhradě členského příspěvku, které vás na základě interních předpisů spolku opravňuje ke vstupu na příslušný ročník spolkového festivalu Junktown 2017.</p>
            <p>Datum splatnosti je nejpozdější datum, kdy musí být připsán vámi uhrazený členský příspěvek na příslušný účet spolku, přičemž nestane-li se tak, propadne Vám tím zcela Vaše rezervace příslušných míst na spojkovém festivalu Junktown 2017.</p>
            <p>ZÁKONNÉ POUČENÍ / PLATEBNÍ PODMÍNKY:</p>
            <p>Projekt Junktown (dále  jen „Projekt“) a akce Junktown 2017 (dále jen „Akce“) je realizována pod záštitou Občanského sdružení Alternativa II, z.s. (dále jen „Spolku“) na spolkové neziskové a nespotřebitelské členské bázi dle stanov Spolku (dále jen „Stanov“), za účelem rekultivace objektu bývalé raketové základny Bratronice a naplňování vybraných oblastí spolkového poslání, kterým je podpora aktivního bytí, seberealizace, vědy, kultury, sportu, tělovýchovy, vzdělávání, občanské angažovanosti, volnočasového vyžití, jakož i všech ostatních aktivit směřujících k  všestrannému rozvoji jedince i společnosti. Veškeré platby ve prospěch projektu Junktown jsou přijímány Spolkem výhradně ve formě členských příspěvků (neboli zkráceně jen „příspěvků“) stanovovaných Spolkem na základě § 233 zákona č. 89/2012 Sb. (dále jen „NOZ“), přičemž upozorňujeme, že dobrovolná úhrada příspěvku stanoveného příslušným orgánem Spolku je dle spolkových Stanov považována současně i za projev vůle ve smyslu § 233 (2) NOZ, na základě čehož plátci stanoveného příspěvku vzniká nejpozději okamžikem přijetí příspěvku ze strany Spolku v souladu se Stanovami a interními předpisy bezzávazkový členský status „podporovatel“ Projektu a řadové neregistrované členství ve Spolku, které příslušného člena opravňuje ve Spolkem stanoveném rozsahu navštěvovat prostory Projektu, účastnit se Akcí Projektu a čerpat příslušné členské výhody a služby Projektu poskytované „podporovatelům“ Projektu  výhradně a  pouze  na  spolkové neziskové a nespotřebitelské bázi v rámci hlavní činnosti Spolku za účelem realizace spolkového poslání a efektivního  interního fundraisingu / crowdfundingu. Nesouhlasíte-li s uvedenými platebními podmínkami, neprovádějte ve prospěch Spolku jakoukoliv platbu, anebo požádejte neprodleně o vrácení platby, pokud jste tuto platbu provedl(a) v domnění, že se jedná o jiný právní akt za jiných platebních podmínek. Změnu členství  z neregistrovaného na  registrované lze provést na adrese www.osa2.cz/registrace. Stanovy, jakož i ostatní informace o Spolku jsou k dispozici ve spolkovém rejstříku u Městského soudu v Praze pod spisovou značkou L 16540.</p>

        }
        else
        {   //Normalni, slusni lidi
            <p>Platbu za objednané vstupenky prosím proveďte pomocí bankovního převodu.</p>
            <p class="text-success">Po připsání celkové částky na účet pořadatele Vám budou obratem na Váš Email odeslány vstupenky.</p>
            <p class="text-warning">Datum splatnosti je nejpozdější datum připsání částky na účet.</p>
            <p class="text-warning">Po datu splatnosti tato objednávka již nebude platná. Pro zakoupení vstupenek vytvořte novou objednávku.</p>
        }
    </div>
</div>
